{% render "setTime" %}


{% schema %}
  {
    "name": "My Calendar",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "custom-text",
        "label": "Specific time"
      },
      {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      }
      
    ]
  }
{% endschema %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}"/>
  </head>
  <body>
    {% comment %} <div class="container"> {% endcomment %}
      <div class="calendar">
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <div class="date">
              <h1></h1>
              <p></p>
            </div>
          </ul>
        </div>

        <div class="weekdays">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </div>
        <div class="days"></div>

        <p id="TEST for Click Days"></p> {% comment %} This is a test to check if click days is working {% endcomment %}


{% comment %}    This block suppose to change the line item quantity.     <p>
          <label>Please let us know your favorite color</label>
        
          <input type="text" name="attributes[Favorite color]" value="{{ cart.attributes['Favorite color'] }}">
        </p>
        {% for item in cart.items %}
          <!-- line item info -->
        
          {% unless item.properties == empty %}
            {% for property in item.properties %}
              {{ property.first }}:
        
              {% if property.last contains '/uploads/' %}
                <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
              {% else %}
                {{ property.last }}
              {% endif %}
            {% endfor %}
          {% endunless %}
        {% endfor %} {% endcomment %}
        
        <div class="specificTime">
          <li>9:00 am</li>
          <li>10:00 am</li>
          <li>11:00 am</li>
          <li>12:00 am</li>
          <li>1:00 pm</li>
          <li>2:00 pm</li>
          <li>3:00 pm</li>
        </div>

          
      </div>
    {% comment %} </div> {% endcomment %}

    <script src="{{ 'script.js' | asset_url }}" defer></script>
  </body>
</html>